.box{
    position: relative;
width: 700px;
height: 800px;

border-radius: 8px;
overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
left:-50%;
width: 700px;
height:800px;
background:linear-gradient(0deg,transparent,#45ffd7,transparent,#45ffd7);
transform-origin: bottom right;
animation: animate 6s linear infinite;

}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
left:-50%;
width: 700px;
height:800px;
background:linear-gradient(10deg,transparent,#ff459f,transparent,#ff459f);
transform-origin: bottom right;
animation: animate 6s linear infinite;
animation-delay: -3s;

}
@keyframes animate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.inputbox input{
    position: relative;
   
    padding: 20px 10px 10px;
    background: whitesmoke;
    border: none;
    outline: none;
    color: black;
   
    letter-spacing: 0,05em;
    z-index: 10;
}
.inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #0b0a0a;
    pointer-events: none;
    letter-spacing: 0,05em;
    transition: 0,5s;
}
.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background-color: #fbf9f9;
    background-color: white;
background-image: linear-gradient(to left ,#fec5bb,#fcd5ce,#fae1dd,#f8edeb,#e8e8e4,#ece4db,#ffe5d9,#ffd7ba,#fec89a);
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
.form h2{
    color: #0d0609;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;

}
.inputbox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
input[type="submit"]{
border: none;
outline: none;
background:#d6a6bd;
padding: 11px 25px;
width: 100px;
margin-top: 10px;
border-radius: 4px;
font-weight: 600;
cursor: pointer;

}
input[type="submit"]:active
{
    opacity: 0.8;
}
.inputbox input:valid~ span,
.inputbox input:focus~ span
{color: #ff459f ;
    transform: translateX(opx) translateY(-34px);
    font-size: 0.75em;

}
.inputbox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ff459f;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}
